{% extends "base.html" %}

{% block title %}Edit: {{ post.title }}{% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{url_for('static', filename='css/admin.css')}}">
{% endblock %}


{% block content %}
<section class="content">
    <h2 class="title">Edit: {{post.title}}</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div>
            {{ form.title.label (class="postForm-label") }}
            {{ form.title(size=60, class="postForm-input")}}<br>
            {% for error in form.title.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.title_slug.label (class="postForm-label")}}
            {{ form.title_slug(class="postForm-input") }}<br>
            {% for error in form.title_slug.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.content.label(class="postForm-label")}}
            {{ form.content (class="postForm-input")}}<br>
            {% for error in form.content.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="postForm-submit") }}
        </div>
    </form>

</section>
{{ ckeditor.load() }}
{{ ckeditor.config(name='content') }}
{% endblock %}