.title2{
    color:rgb(15, 102, 12);
    text-align: center;
}

/* a:not(.special){
    text-decoration: none;
    color: var(--text-color);
} 
https://www.w3schools.com/cssref/sel_not.php    
*/
/* -------- sign up --------  */

.formulario{
    background-color:var(--bc-form-color);
    border: 3px solid var(--bc-border-color);
    width: 600px;
    height: 260px;
    padding: 40px 30px;
    margin: 0 auto;
}

.formulario-name{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
    
}
/* .formulario-name, label{
    margin-right: 3px;
} */
.formulario-email{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}

.formulario-password{
    width: 290px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    
}
/* -------- login  --------  */
.title-login{
    margin-bottom: 50px;
}
.container-formulario{
    /* border:3px dotted red; */
    border-radius:20px;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:400px;
    padding: 30px;
    margin: 0 auto;
    
}

.formulario-login input{
    border-radius: 10px;
}
.formulario-login label{
    display:block;
    margin: 5px 0 5px 0;
}
.formulario-login-remember{
    display:flex;
    /* justify-content: stretch; */
}
.formulario-login-remember label{
    padding-left: 10px;
}
.formulario-login-submit input{
    width: 100%;
    padding: 10px;
    background-color: #49ab4c;
    color:#fff;
    border-radius:4px;
}
.formulario-login-submit input:hover{
    background-color: #237aeb;
}
.formulario-login-registrate{
    margin-top: 10px;
}

/* -------- sign up 2--------  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,700;1,700&family=Staatliches&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
}

/* *{
    font-family: "Poppins", sans-serif;
} */