.content{
    background-color: var(--body-website-color);
    max-width: 980px;
    height: 600px;
    min-height:fit-content;
    margin: 0 auto;
    padding: 20px 30px;
    box-shadow: 2px 4px 5px var(--navbar-shallow-color);
}

.title{
    color: var(--title-text-color);
    text-align: center;
}
.special{
    /* text-decoration: underline; */
    color: blue;

}
.content-text{
    color: var(--text-color);
    text-align: center;
    margin-top: 20px;
    white-space: pre-wrap;

}