:root{
    --color-background: rgb(165, 155, 155);
    --theme-color: white;
    --text-color: black;
    --text-color-inverse:white;
    --primary-color: #124f88;
    --secondary-color: #F7C331;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-bc-color: #3A4460;
    /* own color */
    --navbar-bc-color:#66bfbf;
    --background-website-color:#eaf6f6;
    --body-website-color:#fcfefe;
    --title-text-color: #f76b8a
    /* palettes: https://www.shecodes.io/palettes/1293 */
}
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
body {
    background: var(--background-website-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 80px;
}
a{
    text-decoration: none;
    color: var(--text-color)
}