:root{
    --color-background: rgb(165, 155, 155);
    --theme-color: white;
    --text-color: black;
    --text-color-ancla: rgb(18, 47, 142);
    --text-color-inverse:white;
    --primary-color: #124f88;
    --_nav-link-color:hsl(37, 93%, 64%);
    --secondary-color: #F7C331;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-bc-color: #3A4460;
    /* own color */
    --navbar-bc-color:#66bfbf;
    --background-website-color:#eaf6f6;
    --body-website-color:white;
    --bc-form-color:#FFB3AE;
    --bc-border-color:#FFC24B;
    --nav-links-color:#FFC24B;
    /* --title-text-color: #0E606B */
    --title-text-color: #F47068;
    --subtitle-text-color: rgb(255,153,25);
    --text-published-color: #6D757E;

}
    /* palettes: https://www.shecodes.io/palettes/1293 */
    /* palettes: https://coolors.co/palette/f47068-ffb3ae-fff4f1-1697a6-0e606b-ffc24b*/
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */
body {
    background: var(--background-website-color);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-top: 80px;
    /* height:100vh; */
}
a{
    text-decoration: none;
    color: var(--text-color-ancla)
}

.alert {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}
.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}