/* .title{
    color:rgb(201, 16, 16);
    text-align: center;
} */

.content-posts{
    list-style:decimal;
}

.content-posts li{
    padding-bottom: 10px;
}
.title5{
    color:rgb(112, 30, 108);
    text-align: center;
}

/* ------ post_view ------ */
.post-title{
    color:var(--title-text-color);
}
.published-parram{
    color: var(--text-published-color);
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    padding-left: 10px;
}
.post-title{
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.post-title-border{
    border-width:1px;
    border-style:solid;
    border-color:var(--title-text-color);
}
.post-published{
    padding: 0;
    margin:10px 0px;
    display: inline-block;
    width: 100%;
    line-height: 1.4rem;
}
.content-article{
    /* background-color: #f9f9f9; */
    max-width: 900px;
    /* height: 800px; */
    min-height:fit-content;
    margin: 0 auto;
    padding: 20px 30px;
    /* box-shadow: 2px 4px 5px #ddd; */
}
blockquote{
    quotes: none;
    border-left: 4px solid #ddd;
    padding-left: 25px;
    font-size: 18px;
    line-height: 1.3;
}
.content p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.3;
}
.postView-submit{
    background-color: #04AA6D;
    color: white;
    font-size: 20px;
    padding: 0.5em 1em;
    /* margin-top: 10px; */
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: left;
}
.postView-delete{
    background-color: hsl(0, 95%, 34%);
    color: white;
    font-size: 20px;
    padding: 0.5em 1em;
    /* margin-top: 10px; */
    margin-left: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    float: left;
}
.postView-submit:hover{
    filter:brightness(130%);
}
.content-comments{
    margin-top: 70px;
}
.subtitle{
    color:var(--subtitle-text-color)
}
.subtitle-border{
    border-width:1px;
    border-style:solid;
    border-color:var(--subtitle-text-color);
}
/* .image-container{
    max-width: 800px; 
     margin:auto 
} */
.post-image{
    max-width: 800px; /*Que nunca sea mas grande que el contenedor*/
    width: auto;
    height: 400px; /*mantiene la proporción cuando es auto*/
    display: block; /*quita espacio debajo de la imagen*/
    margin: 1rem auto;/*centrada con espacio*/
    border-radius: 12px;/*esquinas suaves*/
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
/* cards */
.card-container{
    display: flex; /*Los hijos se colocan una al lado de otra. Esta propiedad crea un contenedor flexible por defecto*/
    justify-content: center;
    flex-wrap: wrap; /*Cuando ya no caben en el ancho disponible, automaticamente saltan a la siguiente linea*/
    margin-top: 100px;
    /*Importante que las card tengan ancho fijo y margenes*/
}
.card{
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}
.card img{
    width: 100%;
    height: auto;
}
.card-content{
    padding: 16px;
}
.card-content h3{
    font-size:28px;
    margin-bottom: 8px;
}
.card-content{
    color:666;
    font-size: 15px;
    line-height: 1.3;
}
/* .card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color:#fff;
} */
.card-link{
    color:inherit;
    display: block;
}
.hover-shadow{
    transition: box-shadow .25s ease, transform .25s ease;
}

.hover-shadow:hover,.hover-shadow:focus-visible{
    box-shadow: 0 10px 24px rgba(0,0,0,0.25);
    transform: translateY(-2px);
    outline: none;
}  
.group-botton{
    border: 1px solid blue;
    width: 300px;
    height: 50px;
    /* background: #996161; */
    padding: 10px;
    /* max-width: 50ch; */
}

.modal {
    /* margin-top: 10px; */
    padding: 1em;
    max-width: 50ch;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
    width: 400px;
    height: 120px;
    

    & > * {
    margin: 0 0 0.5rem 0;
  }
} 
/* .modal::backdrop{
    background: linear-gradient(45deg, red, blue);
    opacity: .4;
} */
.modal::backdrop {
  background: rgb(0 0 0 / 0.8);
    /* background: linear-gradient(45deg, red, blue);
    opacity: .4; */
}